<div class="quiz-answer">
  <div class="quiz-answer-title"><%= @drill.title %>に挑戦！</div>

  <%= render 'shared/quiz' %>
  
  <div class="finish-btn-box"><%= link_to '回答終了', '#', class: "finish-btn", id: "finish-btn" %></div>
</div>