/************************************
 クイズ回答画面 
************************************/
.quiz-answer{
  width: 100%;
  padding: 20px;
  background-color: rgba(250, 235, 215, 0.5);
}

.quiz-answer-title{
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  color: lightseagreen;
}

.finish-btn-box{
  width: 100%;
  display: flex;
  justify-content: center;
}

.finish-btn{
  font-size: 30px;
  letter-spacing: 10px;
  padding: 5px 40px 5px 50px;
  margin-top: 30px;
}