/************************************
 クイズ回答画面 
************************************/
.quiz-answer{
  width: 100%;
  padding: 30px 20px;
}

.quiz-answer-title{
  font-size: 30px;
  text-align: center;
}

.finish-btn-box{
  width: 100%;
  display: flex;
  justify-content: center;
}

.finish-btn{
  font-size: 30px;
  letter-spacing: 20px;
  padding: 5px 10px 5px 30px;
  border: 1px solid black;
  margin-top: 30px;
}