.header{
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
}

.logo{
  font-size: 30px;
  margin-left: 20px;
}

.nav{
  margin-right: 20px;
}

.nav-list{
  display: flex;
}

.nickname,
.logout,
.login,
.sign-up,
.create-drill{
  margin-left: 20px;
  font-size: 15px;
  padding: 10px 15px;
  border: 1px solid black;
}