/************************************
 サイドバー全体 
************************************/
.side-bar{
  width: 20%;
  padding: 20px 10px;
  line-height: 25px;
  border: 1px solid black;
}

.side-title{
  font-weight: 600;
}

/************************************
 ユーザー情報 
************************************/
.side-latest-drill{
  margin-top: 10px;
}

/************************************
 ジャンル別リンク 
************************************/
.genre-links{
  margin-top: 20px;
}

/************************************
 ランキング 
************************************/
.ranking-links{
  margin-top: 20px;
}

.quiz-ranking{
  margin-top: 10px;
}