<div class="main">
  <%= render 'shared/side-bar' %>

  <div class="drill-index">
    <div class="drill-index-title">
      〜 投稿された問題集 〜
    </div>
    <div class="drill-index-drills">
      <%= render partial: 'drill', collection: @drills %>
    </div>
  </div>
</div>