/************************************
 ドリル表示領域 
************************************/
.drill-main{
  width: 73%;
  padding: 10px;
  border: 1px solid black;
}

.drill-index-title{
  font-size: 25px;
  text-align: center;
}

/************************************
 ドリル表示ボックス 
************************************/
.drill{
  padding: 5px 10px;
  margin-top: 15px;
  border: 1px solid black;
}

.drill-top{
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.drill-left{
  width: 60%;
}

.drill-left_1{
  font-size: 18px;
}

.drill-left_2{
  font-size: 13px;
  display: flex;
  justify-content: space-between;
}

.drill-ans_times{

}

.drill-right{
  width: 35%;
}

.drill-right_1{
  font-size: 13px;
}

.drill-user{
  font-size: 15px;
}

.drill-right_2{
  font-size: 13px;
  display: flex;
  justify-content: space-between;
}

.drill-bottom{
  padding-top: 5px;
  font-size: 15px;
  border-top: 1px solid rgb(180, 180, 180);
}