/************************************
 ドリル表示領域 
************************************/
.first-visit{
  font-size: 20px;
  width: 80%;
  text-align: center;
  margin: 0 auto 20px;
}

.first-visit-logo{
  font-family: serif;
  font-style: oblique;
}

.drill-main{
  width: 71%;
  padding: 20px;
  background-color: rgba(250, 235, 215, 0.5);
}

.drill-index-title{
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 5px;
  text-align: center;
  color: lightseagreen;
}

.search-box{
  margin: 10px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-keyword{
  width: 300px;
}

.search-btn{
  margin-left: 10px;
  padding: 0 10px;
}

/************************************
 ドリル表示ボックス 
************************************/
.drill{
  padding: 5px 10px;
  margin-top: 15px;
  border: 1px solid rgba(180, 180, 180, 0.5);
  border-radius: 10px;
  background-color: white;
}

.drill-top{
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.drill-left{
  width: 58%;
}

.drill-left_1{
  font-size: 18px;
  font-weight: 600;
}

.drill-left_2{
  font-size: 13px;
  display: flex;
  justify-content: space-between;
}

.drill-right{
  width: 40%;
}

.drill-right_1{
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.drill-user{
  font-size: 15px;
  font-weight: 600;
}

.drill-right_2{
  font-size: 13px;
  display: flex;
  justify-content: space-between;
}

.drill-bottom{
  padding-top: 5px;
  font-size: 15px;
  border-top: 1px solid rgb(180, 180, 180);
}