/************************************
 ドリル投稿ボックス 
************************************/
.drill-form{
  width: 100%;
  padding: 50px 10px;
  text-align: center;
  background-color: white;
  border: 1px solid rgba(180, 180, 180, 0.5);
}

.drill-form-title{
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 5px;
  text-align: center;
  color: lightseagreen;
}

/************************************
 ドリル投稿フォーム 
************************************/
.form-title-box,
.form-genre-box{
  font-size: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.form-timer-box{
  font-size: 20px;
  margin-top: 20px;
  justify-content: center;
}

.form-timer-notice{
  font-size: 15px;
}

.form-info-box{
  font-size: 20px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.form-info{
  font-size: 16px;
}

.drill-create-btn{
  padding: 5px 35px 5px 40px;
  font-size: 20px;
  letter-spacing: 5px;
  margin-top: 40px;
}

/************************************
 ドリル編集画面用 
************************************/
.drill-edit-btn-box{
  padding: 0 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back-btn{
  padding: 5px 35px 5px 40px;
  font-size: 20px;
  letter-spacing: 5px;
  margin-top: 40px;
}