/************************************
 タイトル検索結果 
************************************/
.searched-box{
  margin-top: 20px;
  padding: 10px 0 10px;
  border: 3px ridge rgba(180, 180, 180, 0.5);
}

.search-title{
  font-size: 20px;
  font-weight: 600;
  color: lightseagreen;
  margin-left: 10px;
}

.search-num{
  margin: 10px;
}

.search-title-result,
.search-info-result,
.search-user-result{
  margin-top: -10px;
  padding: 0px 10px 10px;
  max-height: 600px;
  overflow: auto;
}