/************************************
 ドリル詳細ボックス 
************************************/
.show-drill{
  padding: 20px 10px;
  border: 1px solid rgba(180, 180, 180, 0.5);
  border-radius: 10px;
  background-color: white;
}

.show-drill-title_box{
  width: 90%;
  padding-bottom: 5px;
  margin: 0 auto 0;
  border-bottom: 1px solid rgb(180, 180, 180);
}

.show-drill-title{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}

.show-drill-sub_1{
  width: 50%;
  font-size: 15px;
  margin: 10px auto 5px;
  display: flex;
  justify-content: space-between;
}

.show-drill-user_name{
  font-size: 15px;
  font-weight: 600;
}

.show-drill-user{
  font-size: 13px;
}

.show-drill-sub_2{
  width: 60%;
  font-size: 15px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
}

.show-drill-sub_3{
  font-size: 15px;
  text-align: center;
  margin-bottom: 10px;
  padding: 0 20%;
  display: flex;
  justify-content: space-between;
}

.show-drill-status{
  color: red;
}

.show-drill-info_box{
  width: 90%;
  padding-top: 10px;
  margin: 0 auto 0;
  border-top: 1px solid rgb(180, 180, 180);
  display: flex;
  justify-content: center;
}

.show-drill-info{
  width: 90%;
  font-size: 15px;
}

.show-drill-btn{
  width: 90%;
  padding-top: 20px;
  margin: 20px auto 0;
  border-top: 1px solid rgb(180, 180, 180);
  display: flex;
  justify-content: center;
  align-items: center;
}

.drill-editor{
  width: 100%;
  padding: 0 10% 0;
}

.drill-editor-top,
.drill-editor-bottom{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.drill-editor-bottom{
  margin-top: 20px;
}

.form-timer-btn{
  font-size: 15px;
  padding: 4px 10px;
}

.to_edit,
.to_destroy{
  font-size: 15px;
  padding: 8px 20px;
}

.challenge-btn{
  font-size: 20px;
  letter-spacing: 5px;
  padding: 8px 15px 8px 20px;
}

/************************************
 マイリスト 
************************************/
.mylist-box{
  margin-top: 20px;
  padding: 20px 10px;
  border: 1px solid rgba(180, 180, 180, 0.5);
  border-radius: 10px;
  background-color: white;
}

.mylist-box-title{
  width: 90%;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin: 0 auto 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(180, 180, 180);
}

.mylist-notice{
  text-align: center;
  font-size: 20px;
}

.mylist-box-subtitle{
  text-align: center;
  font-size: 20px;
}

.mylist-create{
  margin-top: 10px;
}

.mylist-form{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.mylist-create-title{
  width: 200px;
  padding: 5px;
}

.mylist-create-btn{
  padding: 3px 10px;
  margin-left: 10px;
}

.mylist-add{
  margin-top: 20px;
}

.mylist-select{
  min-width: 245px;
  padding: 10px 0;
}

.mylist-add-btn{
  padding: 3px 10px;
  margin-left: 10px;
}

/************************************
 コメント表示 
************************************/
.comments{
  margin-top: 20px;
  padding: 20px 10px;
  border: 1px solid rgba(180, 180, 180, 0.5);
  border-radius: 10px;
  background-color: white;
}

.comments-title{
  width: 90%;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin: 0 auto 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(180, 180, 180);
}

.comments-main{
  width: 90%;
  margin: 0 auto 0;
}

.comment-form{
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-btn{
  padding: 3px 10px;
  margin-left: 10px;
}

.comment{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-box{
  width: 90%;
  display: flex;
}

.comment-user{
  width: 20%;
}

.comment-text{
  width: 80%;
}

.comment-destroy{
  font-size: 12px;
  padding: 1px 2px;
}

.no-comments{
  text-align: center;
}

.comment-alert{
  text-align: center;
}

.comment-display-btn{
  width: fit-content;
  font-size: 15px;
  letter-spacing: 20px;
  background-color: rgb(230, 230, 230);
  padding: 3px 0 3px 20px;
  margin: 5px auto 0;
  border: 1px solid rgb(180, 180, 180);
}

.comment-hidden{
  display: none;
}

/************************************
 クイズプレビュー 
************************************/
.quiz{
  margin-top: 20px;
  padding: 20px 10px;
  border: 1px solid rgba(180, 180, 180, 0.5);
  border-radius: 10px;
  background-color: white;
}

.quiz-num_box{
  width: 90%;
  padding-bottom: 5px;
  margin: 0 auto 0;
  border-bottom: 1px solid rgb(180, 180, 180);
}

.quiz-num{
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.quiz-question{
  width: 80%;
  font-size: 20px;
  text-align: center;
  margin: 15px auto 0;
}

.quiz-choices-boxes{
  width: 90%;
  margin: 20px auto 0;
  display: flex;
  justify-content: space-around;
}

.quiz-choices{
  width: 275px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  border: 5px outset lightblue;
}

.quiz-editor{
  width: 90%;
  padding-top: 15px;
  margin: 20px auto 0;
  border-top: 1px solid rgb(180, 180, 180);
  display: flex;
  justify-content: space-around;
  align-items: center
}

.quiz-correct_ans{
  font-size: 20px;
  text-align: center;
  display: flex;
}

/************************************
 クイズ追加フォーム 
************************************/
.quiz-form{
  margin-top: 20px;
  padding: 20px 10px;
  border: 1px solid rgba(180, 180, 180, 0.5);
  border-radius: 10px;
  background-color: white;
}

.form-correct_ans{
  width: 60px;
  height: 30px;
}

.quiz-post-btn{
  width: 150px;
  height: 40px;
}

/************************************
 過去の成績表示 
************************************/
.show-drill-results-box{
  text-align: center;
  padding: 10px 20px;
  margin-top: 20px;
  border: 1px solid rgba(180, 180, 180, 0.5);
  border-radius: 10px;
  background-color: white;
}

.show-drill-results-title{
  font-size: 25px;
}

.show-drill-results{
  font-size: 15px;
  margin-top: 10px;
}