/************************************
 結果発表 
************************************/
.result{
  width: 100%;
  padding: 30px 20px;
  background-color: rgba(250, 235, 215, 0.5);
}

.result-user{
  text-align: center;
  padding: 10px 0;
  background-color: white;
  border: 1px solid rgb(180, 180, 180, 0.5);
}

.result-title{
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 5px;
  color: lightseagreen;
}

.result-times,
.result-numbers{
  font-size: 20px;
}

.result-rate{
  font-size: 30px;
  font-weight: 600;
  color: red;
}

.root-btn-box{
  margin: 20px 0 10px 0;
}

.root-btn{
  font-size: 20px;
  padding: 10px 20px;
  border: 1px solid black;
}

/************************************
 クイズの正解 
************************************/
.result-questions{
  text-align: center;
  margin-top: 30px;
  padding: 10px;
  border: 1px solid rgb(180, 180, 180, 0.5);
  background-color: white;
}

.result-correct_ans{
  font-size: 30px;
  font-weight: 600;
  color: red;
}