/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
  min-height: 100vh;
  background-color: rgba(240, 240, 240, 0.5);
  position: relative;
  padding-bottom: 100px;
  box-sizing: border-box;
}

.main{
  width: 80vw;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

.main-box{
  height: 100%;
  border: 1px solid rgb(180, 180, 180);
  box-shadow: 0 0 5px rgb(180, 180, 180);
}

.btn{
  border: 3px outset lightsalmon;
  border-radius: 10px;
  background-color: rgba(255, 160, 122, 0.2);
}

.mini-btn{
  padding: 2px 8px;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 50px;
}